{% extends 'base.html' %}
{% block title %}
<title>Blog Details Page</title> 
{% endblock title %}

{% block body %}
    <h3>{{blogpost.title}} </h3>
    <h6>By: <b>{{blogpost.author}}</b>  -- {{blogpost.post_date }} </h6>
    <hr>
    {% if blogpost.image %}
    <img src="{{blogpost.image.url}}" class="w-50">
    {% endif %}
    </br>{{blogpost.body}} </br>
    {% if user.is_authenticated  %}
        {% if user.id == blogpost.author.id %}
            <p>
                <a href="{% url 'delete-post' blogpost.pk %}" class="btn btn-danger mx-3">DELETE</a>
                <a href="{% url 'update-post' blogpost.pk %}" class="btn btn-primary mx-3">Update</a>
            </p>
        {% endif %}
    {% endif %}
    <div class="card my-5">
        <div class="row no-gutters">
            <div class="col-3">
                <img src="{{blogpost.author.profile.Profile_image.url}}" class="w-100">
            </div>
            <div class="col">
                <div class="card-body">
                    <h3 class="card-title">{{blogpost.author.profile.user}}</h3><small>({{blogpost.author.profile.title}})</small>
                    <h5>
                        <a href="{{blogpost.author.profile.web_url}}">Website | </a>
                        <a href="{{blogpost.author.profile.fb_url}}">Facebook | </a>
                        <a href="{{blogpost.author.profile.linkedin_url}}">LinkedIn | </a>
                    </h5>
                    <p class="card-text">{{blogpost.author.profile.bio}}</p>
                    <a href="{% url 'profile' blogpost.author.profile.id %}" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    
        
{% endblock body %}


